
/*左部分*/
.step-title,.problem-title{padding: 2em 1em}
.step-title>span:first-child,.problem-title>span:first-child{font-size: 1.25em;}
.step-title>span:last-child,.problem-title>span:last-child{font-size: 0.75em;color: #919191;}
.step-list{padding: 1em 0 1em 4em;border: 1px #efefef solid;}
.step-list>li{line-height: 2em;}
.step-list>li>i{padding: 2px 6px;border-radius: 50%;background-color: #eef1f2;font-size: 0.87em;}
.step-list>li>span{padding-left: 3em;}
.problem-list{border: 1px #efefef solid;text-align: center;margin-bottom: 2em;}
.problem-list>li{border-bottom: 1px #efefef solid;padding: 1em}
.problem-list>li>a{text-decoration: none;}
.problem-list>li>a:hover,.news-list>li>a:hover{color: #f87426;}
/*右部分列表 文章内容*/
.news-detail{padding: 1em 2em;}
.news-detail>p{line-height: 2em;color: #707070;}
.detail-title{text-align: center;}
.detail-title>p{padding: 1em 0;}
.news-bottom{padding: 2em 0;}
.news-bottom>p>a{text-decoration: none;}
.news-bottom>p>a:hover{color: #f87426;}
.news-bottom>p:first-child{float: left;}
.news-bottom>p:last-child{float: right;}






/*media*/
@media (max-width: 435px) {
    /*在小于435像素的屏幕里,这里的样式才生效*/
    /*新闻列表*/
    .news-list>li{border: none;}
    /*右部分列表 文章内容*/
    .news-bottom{padding: 2em 0 0 0;}
    .news-bottom>p:first-child{float: none;}
    .news-bottom>p:last-child{float: none;}
}

@media (min-width: 436px ) and (max-width: 767px) {
    /*在436和768像素的屏幕里,这里的样式才生效*/
    /*新闻列表*/
    .news-list>li{border: none;}
    /*右部分列表 文章内容*/
    .news-bottom{padding: 2em 0 0 0;}
    .news-bottom>p:first-child{float: none;}
    .news-bottom>p:last-child{float: none;}
}

@media (min-width: 768px) and (max-width: 991px) {
    /*在768和991像素之间的屏幕里,这里的样式才生效*/

}

@media (min-width: 992px) and (max-width: 1199px) {
    /*在992和1199像素之间的屏幕里,这里的样式才生效*/

}

@media (min-width: 1200px) {
    /*在大于1200像素的屏幕里,这里的样式才生效*/

}